@tailwind base;
@tailwind components;
@tailwind utilities;

/* Jednotné pozadí stránky */
html, body {
    height: 100%;
    background-color: rgb(253,188,70);
    color: black;
    font-family: 'Inter', sans-serif;
}

/* Kontejner */
.container-page {
    @apply mx-auto max-w-6xl px-4 sm:px-6;
}

/* Základní odkazy */
a {
    @apply transition;
}
a:hover {
    opacity: 0.8;
}
